[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/co0ontty/no-password-browser-extension.git
[submodule "android"]
	path = android
	url = https://github.com/co0ontty/no-password-android.git
[submodule "ios"]
	path = ios
	url = https://github.com/co0ontty/no-password-ios.git
