{
	admin {$NO_PASSWORD_CADDY_ADMIN_ADDRESS:127.0.0.1:2019}
	http_port 8181
	https_port 8182
	auto_https disable_redirects
	storage file_system {
		root /app/data/caddy
	}
}

{$NO_PASSWORD_CADDY_HTTP_SITE:http://:8181} {
	reverse_proxy 127.0.0.1:{$NO_PASSWORD_PORT:9000}
}

https://:{$NO_PASSWORD_CADDY_HTTPS_PORT:8182} {
	tls internal {
		on_demand
	}
	reverse_proxy 127.0.0.1:{$NO_PASSWORD_PORT:9000}
}
